.headerWrapper {

}

.header {
    display: flex;
    align-items: center;
    justify-content: space-around;

    padding-top: 40px;
    padding-bottom: 40px;
}

.headerSelect {
    opacity: 0.6;
    transition: 0.4s;
}

.headerSelect:hover {
    cursor: pointer;
    opacity: 1;
}

.headerSelectLink {
    padding: 10px 25px;
    border-radius: 20px;
    border: 1px solid white;
    color: inherit;
    text-decoration: inherit;
}

.headerSelectLink:hover {
    color: white;
}
