.qr-code-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    transition: opacity 1s ease-out;
}

.qr-code-wrapper.fade-out {
    opacity: 0;
}

.qr-code-wrapper.fade-in {
    opacity: 1;
}

.qr-code-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.qr-code-info-header span {
    font-family: 'Gilroy-Bold', sans-serif;
    font-size: 70px;
    font-weight: 900;
    line-height: 88px;
    text-align: left;
}

.qr-code-info-header {
    display: flex;
    justify-content: center;
    padding-top: 60px;
}

.qr-code-info-footer {
    display: flex;
    padding: 0 0 10px 90px;
    justify-content: space-between;
    align-items: center;
}

.qr-code-info-footer-image {
    align-self: end;
}

.qr-code-content {
    display: flex;
    flex-direction: column;

    color: rgba(0, 0, 0, 1);
    background: rgba(255, 255, 255, 1);

    gap: 35px;
    padding: 26px;
    border-radius: 20px;
    margin: 0 60px 60px 0;
}

.qr-code-text {
    font-family: 'Gilroy-Medium', sans-serif;
    font-size: 34px;
    font-weight: 500;
    line-height: 41px;
    letter-spacing: -0.03em;
    text-align: left;
}
