# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgresql://dev:dev@192.168.1.207:5432/videokiosklocal?schema=public"

DEBUG_ACCESS_KEY="test_debug_key"
DEBUG_ENABLED=true

INITIAL_RANGE_SECRET_KEY="test"

RANGE_PING_CHECKER="test"

# Camera subnet address range in CIDR notation
CAMERA_SUBNET="192.168.1.0/24"

WEBRTC_BASE_URL="http://127.0.0.1:1984/"
AGENTDVR_BASE_URL="http://127.0.0.1:8090/"

GLOBAL_SERVER_API="http://127.0.0.1/v1"
